.nav{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #715535;
    justify-content: space-between;
    font-size: x-large;
    color: rgb(190, 189, 88);
}

.nav-left{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    width: 20%;
    font-size: xx-large;
    justify-content: space-around;
    margin-right: 25px;
}

img{
    height: 60%;
    margin-top: 24px;
    
}